* {
    box-sizing: border-box;
}

#title, #description {
    width: max-content;
    background-color: beige;
    margin: 0 auto;
}

.container-1 {
    width: max-content;
    background-color: hsl(220, 74%, 36%);
    margin: 0 auto;
}

label {
    display: block;
}