* {
    box-sizing: border-box;
}

#title, #description {
    width: max-content;
    margin: 0 auto;
}

#title {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

.header {
    /* background-color: aqua;
    margin: 100px auto; */
    border: 3px solid hsl(148, 86%, 47%);
}

.container-1 {
    width: max-content;
    background-color: hsl(220, 74%, 36%);
    margin: 0 auto;
    border: 3px solid hsl(0, 86%, 37%);
    border-radius: 10px;
}

label {
    display: block;
}